{% extends 'base.html.twig' %}
{# fonction parent() = recup data du bloc parent #}
{% block title %} {{ parent() }} - Layout Page !{% endblock %}


{% block body %}
    <h1>BODY</h1>
{% endblock %}

{% block aside %}
    <h4>ASIDE</h4>
{% endblock %}