<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('app.homepage.index') }}">TP004</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('app.homepage.index') }}">{{ 'headers.homepage' | trans({} ,'navbar') | capitalize }}</a></li>

                {% include('inc/navbar/category.html.twig') %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% include('inc/navbar/lang.html.twig') %}
                {% include('inc/navbar/admin.html.twig') %}
                {% include('inc/navbar/search.html.twig') %}
                {% include('inc/navbar/user.html.twig') %}
            </ul>
        </div>
    </div>
</nav>