body {
    padding-top: 5rem;
}

body h2 {
    margin-bottom: 3rem;
    text-align: center;
}

body .main-container {
    margin-top: 2rem;
}

body .random-products {
    margin-top: 5rem;
}

/************************************************************/

.category-home, .subcategory-home, .product-home, .search-home {
    text-align: center;
}

/************************************************************/

.search-menu {
    padding: 1rem;
}

.search-menu .form-inline > div {
    width: 25rem;
}

/************************************************************/

.login-menu-xs {
    padding-top: 1rem;
}

.login-menu-xs .form-group {
    padding: 0 1rem 0 1rem;
    width: 20rem;
}

/************************************************************/

.product {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.product img{
    width:15rem;
    height:15rem;
}

.product p.description {
    height: 10rem;
}

/************************************************************/

.main-product p.description {
    height: 20rem;
}

/************************************************************/

.random-products .product {
    margin-bottom: 5rem;
    text-align: center;
}

/************************************************************/

.selector-languages img {
    width:2rem;
}

/************************************************************/

#carousel-random-products {
    width: 35rem;
}

.breadcrumb {
    background-color: transparent;
}

.alert {
    text-align: center;
}

/************************************************************/

.notification-alert {
    position: fixed;
    top: 6rem;
    right: 5rem;
}

.notification-alert .alert {
    text-align: left;
}

/************************************************************/