<a href="{{ url('app.module.edit', {'id' : module.id }) }}" class="btn btn-warning btn-xs">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</a>
<a href="{{ url('app.module.delete', {'id' : module.id }) }}" class="btn btn-danger btn-xs">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
</a>