# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']

    app.twig.app_extension:
        class: AppBundle\Twig\AppExtension
        arguments: ['@doctrine', '@twig', '@request_stack']
        tags:
            - { name: twig.extension }

    app.twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    app.twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }

    app.listeners.user:
        class: AppBundle\Listener\UserListener
        arguments: ['@security.password_encoder', '@doctrine']
        tags:
            - { name : doctrine.orm.entity_listener }