{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title|upper  }}</h1>
    <p>IP : <mark>{{ ip }}</mark></p>
    <p>HOST : <mark>{{ host }}</mark></p>
    <p>GET : <mark>{{ get }}</mark></p>
{% endblock %}