{% extends 'base.html.twig' %}

{% block body %}

   <div class="row">
      <div class="col-xs-9 col-xs-offset-1">
         <h2>Admin</h2>

         <!-- Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">User List</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">User Token</a></li>
         </ul>

         <!-- Tab panes -->
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
               {% include 'admin/inc/users.list.html.twig' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                {% include 'admin/inc/users.tokens.list.html.twig' %}
            </div>
         </div>

      </div>
   </div>

{% endblock %}